.form-site {

    .form-group {
        margin-bottom: 30px;
        
        .form-label {
            @extend .robotoSlabBold;

            font-size: 18px;
            color: $black;
        }
        .form-control {
            @extend .robotoSlabBold;

            color: $black;
            padding: 0 5%;
            width: 100%;
            height: 50px;
            border-radius: 50px;
            border: 1px solid $gray-lt;
        }
    }
}

.btn-site {
    @extend .robotoSlabBold;

    border: 3px solid $yellow;
    color: $yellow;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 22px;

    &:hover {
        background-color: $yellow;
        color: #fff;
    }
}