@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab:400,700&display=swap');

.pacific {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

.robotoSlabRegular {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.robotoSlabBold {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}